* {
    margin: 0;
    padding: 0;
}

#wrap{ 
    width:1000px;
    height: auto;;
    margin:5px auto;
    color: white;
    border: 1px solid white;
    background-size: auto;
}

#header{
    width: 100%;
    height:250px;
    max-width: auto;
    background-image: url(img/genius-society/genius-society.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    position: relative;
}

#header:hover {
    transition: all 0.5s ease;
    background-size: 110%;
}

#menu{
    width:100%;
    height:auto;
    background-color: #120c0c;
    position: relative;
    margin: 0;
}

#gradasi-header {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #120c0c);
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
}

#menu ul{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    gap: 80px;
}

#menu ul li{
    list-style: none;
    float: left;
    padding:8px 0px 16px;
    position:relative;
    color: white;
    border-radius: 30px;
    text-align: center;;
}

#menu ul li a{
    text-decoration: none;
    color: white;
}

#menu ul li a span{
    padding:4px 19px 8px;
    transition: background-color 0.2s;
    border-radius: 30px;
}

#menu ul li a:hover span{
    background-color: #413434;
    color: white;
    border-radius: 10px;
}

#menu ul li ul{
    display: none;
    border-radius: 10px;
}

#menu ul li:hover ul{
    display: block;
    position: absolute;
    top: 30px;
    background-color: #120c0c;
}

#menu ul li:hover ul li{
    margin-top: 0;
    padding: 0;
}

#menu ul li:hover li a span{
    display: block;
    width: 195px;
    text-align: left;
}

#main-content-genius {
    width: 100%;
    height: auto;
}

#header-genius {
    display: flex;
    padding: 20px;
    gap: 80px;
    background-color: #120c0c;
    color: white;
}

#text-genius {
    height: auto;
    margin-top: 100px;
    margin-left: 50px;
}

#text-genius h1{
    font-size: 60px;
    margin-bottom: 40px;
}

#text-genius p{
    font-size: 18px;
    margin-bottom: 40px;
}

#middle-genius {
    width: 100%;
    height: auto;
    background-color: #120c0c;
}

#middle-genius h1 {
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 50px;
}

#konten-middle {
    width: 100%;
    display: flex;
    gap: 10px;
}

#img-kiri-genius {
    width: 550px;
    height: auto;
    margin-left: 20px;
}

#img-kiri-genius img{
    width: 550px;
    border-radius: 20px;
    margin-bottom: 5px;
}

#img-kiri-genius h3 {
    font-size: 40px;
}

#img-kiri-genius p {
    font-size: 20px;
}

#img-kanan-genius {
    width: 390px;
    height: auto;
    padding: 10px;
}

#story1 {
    display: flex;
    padding: 10px;
    width: auto;
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 20px;
}

#story1 img {
    width: 200px;
    margin-right: 10px;
}

#story1 h3 {
    font-size: 15px;
}