* {
    margin: 0;
    padding: 0;
}

#wrap{
    width:1000px;
    height: auto;;
    margin:5px auto;
    color: white;
    border: 1px solid white;
    background-size: auto;
}

#header{
    width: 100%;
    height:250px;
    max-width: auto;
    background-image: url(img/stellaron-hunter/stellaron-hunter.png);
    background-size: 80%;
    background-position: center 30%;
    position: relative;
}

#header:hover {
    transition: all 0.5s ease;
    background-size: 90%;
}

#menu{
    width:100%;
    height:auto;
    background-color: #040b16;
    position: relative;
    margin: 0;
}

#gradasi-header {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #040b16);
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
}

#menu ul{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    gap: 80px;
}

#menu ul li{
    list-style: none;
    float: left;
    padding:8px 0px 16px;
    position:relative;
    color: white;
    border-radius: 30px;
    text-align: center;;
}

#menu ul li a{
    text-decoration: none;
    color: white;
}

#menu ul li a span{
    padding:4px 19px 8px;
    transition: background-color 0.2s;
    border-radius: 30px;
}

#menu ul li a:hover span{
    background-color: #122139;
    color: white;
    border-radius: 10px;
}

#menu ul li ul{
    display: none;
    border-radius: 10px;
}

#menu ul li:hover ul{
    display: block;
    position: absolute;
    top: 30px;
    background-color: #040b16;
}

#menu ul li:hover ul li{
    margin-top: 0;
    padding: 0;
}

#menu ul li:hover li a span{
    display: block;
    width: 195px;
    text-align: left;
}

#main-content-sh {
    width: 100%;
    height: auto;
    background-color: black;
}

#header-sh {
    padding: 20px;
    text-align: center;
}

#elio {
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
}

#elio img {
    width: 500px;
    height: auto;
    margin-left: 100px;
    margin-bottom: 30px;
    border-radius: 30px;
}

#elio-detail {
    width: 300px;
    height: auto;
    background-color: azure;
    border-radius: 20px;
    margin-bottom: 30px;
    color: black;
    padding: 20px;
}

#member {
    display: flex;
    width: 100%;
    height: auto;
    gap: 27px;
    color: black;
}

#kafka {
    width: 220px;
    height: auto;
    background-color: white;
    opacity: 0.5;
    margin-left: 20px;
    border-radius: 20px;
}

#kafka:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

#kafka img {
    width: 220px;
    height: auto;
    border-radius: 20px;
}

#kafka h2 {
    text-align: center;
    padding: 10px;
}

#kafka p {
    padding: 10px;
}

#blade {
    width: 220px;
    height: auto;
    background-color: white;
    opacity: 0.5;
    border-radius: 20px;
}

#blade:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

#blade img {
    width: 220px;
    height: auto;
    border-radius: 20px;
}

#blade h2 {
    text-align: center;
    padding: 10px;
}

#blade p {
    padding: 10px;
}

#silver-wolf {
    width: 220px;
    height: auto;
    background-color: white;
    opacity: 0.5;
    border-radius: 20px;
}

#silver-wolf:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

#silver-wolf img {
    width: 220px;
    height: auto;
    border-radius: 20px;
}

#silver-wolf h2 {
    text-align: center;
    padding: 10px;
}

#silver-wolf p {
    padding: 10px;
}

#firefly {
    width: 220px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    opacity: 0.5;
}

#firefly:hover {
    opacity: 1;
    transition: all 0.2s ease;
}

#firefly img {
    width: 220px;
    height: auto;
    border-radius: 20px;
}

#firefly h2 {
    text-align: center;
    padding: 10px;
}

#firefly p {
    padding: 10px;
}